# Задание 1
4. Не обязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “m”).

In [14]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, " \
            "life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), " \
            "didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing " \
            "really matters."

## 1.1
Посчитайте, сколько в строке символов (исключая пробелы).

In [10]:
string_list = string_01.split(" ")

string_len = 0

for i in string_list:
    string_len += len(i)

string_len

250

In [3]:
# другой вариант решения

len(string_01) - string_01.count(" ")

250

In [4]:
# ещё вариант

len(string_01.replace(" ", ""))

250

## 1.2
Посчитайте, сколько в строке слов.

In [66]:
len(string_list)

61

## 1.3
Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).

In [25]:
import re

# берём всё кроме букв, пробелов и апострофов - [^\w\s'], и меняем на пустоту - "", указываем где - string_list
string_02 = re.sub(r"[^\w\s']", "", string_01)

def print_letter_end_words(letter):
    for i in string_02.split(" "):
        if i[-1] == letter:
            print(i)

print_letter_end_words("s")

his
he's
blows
this
as
matters

# Задание 2
Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [35]:
import random
b = 0

while "3" not in str(b):
    b = random.randint(100000, 999999)

print(b)

673678

In [58]:
c = ""

while "3" not in c:
    c = "".join([str(random.randint(0, 9)) for i in range(6)])

print(c)

936881

# Задание 3
Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100.

In [60]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

list_01_sum = 0
for i in list_01:
    if 100 > i > 10:
        list_01_sum += i
list_01_sum

212

In [64]:
# то же самое, кратко:
sum(y for y in list_01 if 100 > y > 10)

212

# Задание 4

In [65]:
students = [
    ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],
    ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],
    ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
    ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
    ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
    ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
    ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
    ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]
]

## 4.1
Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [92]:
students_dict = {}

for student in students:
    student_id, *other = student
    students_dict[student_id] = other

students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [66]:
students_dict = {}

for student in students:
    students_dict[student[0]] = student[1:]

students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

## 4.2
Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [96]:
def change_student_group(student_id, new_group):
    students_dict[student_id][-1] = new_group

change_student_group("1102", "WWWWW")
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'WWWWW'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

## 4.3
Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [100]:
def print_all_students_in_group(group):
    for student_info in students_dict.values():
        if group in student_info:
            print(student_info[0], student_info[1], student_info[2])

print_all_students_in_group('БСТ163')

Глаголева Анастасия Николаевна
Шафутинский Михаил Михайлович

# Задание 5

In [67]:
matrix = [
    [0, 1, 2, 4, 8],
    [6, 2, 2, 1, 9],
    [3, 3, 3, 3, 3],
    [4, 6, 7, 1, 2],
    [5, 7, 3, 4, 0]
]

## 5.1
Выведите результат сложения всех элементов матрицы.

In [83]:
matrix_sum = 0

for i in matrix:
    matrix_sum += sum(i)

matrix_sum

89

In [84]:
sum(sum(i) for i in matrix)

89

In [85]:
import numpy as np

print(np.sum(matrix))

89

# 5.2
Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [75]:
column_max = []

for column in range(len(matrix)):
    column_sum = 0
    
    for row in range(len(matrix)):
        column_sum += matrix[row][column]
    
    column_max.append(column_sum)

print(column_max)
max(column_max)

[18, 19, 17, 13, 22]

22

In [76]:
print(np.sum(matrix, axis=0))
max(np.sum(matrix, axis=0))

[18 19 17 13 22]

22

In [86]:
# zip функцией матрица переворачивается - столбцы становятся строками (транспонирование матрицы)

max(sum(i) for i in zip(*matrix))

22